## This is a file to test methods on how to gather data using the "Original dataset" csv file that is in this Data folder.

In [40]:
import pandas as pd

In [41]:
df = pd.read_csv("Original dataset.csv")
df2 = df.head()
df2

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.78044E+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.78044E+12,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78044E+12,eng,352,6333,244,11/1/2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78044E+12,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.78044E+12,eng,2690,41428,164,9/13/2004,Scholastic,NaN

In [88]:
for isbn in df2['isbn13']:
    print(isbn) #print each ISBN from each row

9.78044E+12
9.78044E+12
9.78044E+12
9.78044E+12
9.78044E+12

## To this point I can read in a CSV and select a specific column and its contents

### Set up requests

In [43]:
import requests

In [94]:
# Define a function to call the Google Books API and extract the page count and description
def get_book_info(isbn):
    url = f"https://www.googleapis.com/books/v1/volumes?q=isbn:{isbn}"
    response = requests.get(url)
    data = response.json()
    if 'totalItems' in data and data['totalItems'] > 0:
        book_info = data['items'][0]['volumeInfo']
        if 'description' in book_info:
            description = book_info['description']
        else:
            description = None
        if 'mainCategory' in book_info:
            main_category = book_info['mainCategory']
        else:
            main_category = None
        if 'categories' in book_info:
            categories = ', '.join(book_info['categories'])
        else:
            categories = None
        return description, main_category, categories
    else:
        return None, None, None

# Create a new dataframe to store the book info
descriptions = []
main_categories = []
categories_list = []
for isbn in df['isbn']:
    description, main_category, categories = get_book_info(isbn)
    descriptions.append(description)
    main_categories.append(main_category)
    categories_list.append(categories)

results_df = pd.DataFrame({
    'Main Category': main_categories,
    'Categories': categories_list,
    'Description': descriptions
}, index=df['isbn'])

# Print the first few rows of the results dataframe
print(results_df.head())

           Main Category        Categories  \
isbn
439785960           None              None
439358078           None              None
439554896           None              None
043965548X          None  Juvenile Fiction
439682584           None              None

                                                  Description
isbn
439785960                                                None
439358078                                                None
439554896                                                None
043965548X  During his third year at Hogwarts School for W...
439682584                                                None

In [100]:
results_df

,Main Category,Categories,Description
isbn,,,
043965548X,None,Juvenile Fiction,During his third year at Hogwarts School for W...
1400052920,None,Fiction,NEW YORK TIMES BESTSELLER • “Extremely funny ....
076790818X,None,History,One of the world’s most beloved writers and Ne...
076790382X,None,Biography & Autobiography,A classic from the New York Times bestselling ...
097669400X,None,Agile software development,Provides information on creating Web-based app...
...,...,...,...
1581348134,None,Religion,"The lives of Augustine, Luther, and Calvin rev..."
9681907191,None,Farmers,"Había una vez un valle, y en el valle, tres gr..."
843221728X,None,Children,"La historia de la infancia, vivida y soñada, d..."
8466302298,None,Fiction,La relacion amorosa del joven escritor Varguit...
1560254416,None,Fiction,"No stranger to living and writing on the edge,..."

In [98]:
temp = results_df
temp

,Main Category,Categories,Description
isbn,,,
043965548X,None,Juvenile Fiction,During his third year at Hogwarts School for W...
1400052920,None,Fiction,NEW YORK TIMES BESTSELLER • “Extremely funny ....
076790818X,None,History,One of the world’s most beloved writers and Ne...
076790382X,None,Biography & Autobiography,A classic from the New York Times bestselling ...
097669400X,None,Agile software development,Provides information on creating Web-based app...
...,...,...,...
1581348134,None,Religion,"The lives of Augustine, Luther, and Calvin rev..."
9681907191,None,Farmers,"Había una vez un valle, y en el valle, tres gr..."
843221728X,None,Children,"La historia de la infancia, vivida y soñada, d..."
8466302298,None,Fiction,La relacion amorosa del joven escritor Varguit...
1560254416,None,Fiction,"No stranger to living and writing on the edge,..."

In [101]:
temp.dropna(subset=['Description'], inplace=True)
temp

,Main Category,Categories,Description
isbn,,,
043965548X,None,Juvenile Fiction,During his third year at Hogwarts School for W...
1400052920,None,Fiction,NEW YORK TIMES BESTSELLER • “Extremely funny ....
076790818X,None,History,One of the world’s most beloved writers and Ne...
076790382X,None,Biography & Autobiography,A classic from the New York Times bestselling ...
097669400X,None,Agile software development,Provides information on creating Web-based app...
...,...,...,...
1581348134,None,Religion,"The lives of Augustine, Luther, and Calvin rev..."
9681907191,None,Farmers,"Había una vez un valle, y en el valle, tres gr..."
843221728X,None,Children,"La historia de la infancia, vivida y soñada, d..."
8466302298,None,Fiction,La relacion amorosa del joven escritor Varguit...
1560254416,None,Fiction,"No stranger to living and writing on the edge,..."

In [102]:
temp_df = pd.merge(df,
                 results_df,
                 on='isbn', how='right')
temp_df

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12,Main Category,Categories,Description
0,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78044E+12,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,NaN,None,Juvenile Fiction,During his third year at Hogwarts School for W...
1,14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,9.7814E+12,eng,215,4930,460,8/3/2004,Crown,NaN,None,Fiction,NEW YORK TIMES BESTSELLER • “Extremely funny ....
2,21,A Short History of Nearly Everything,Bill Bryson,4.21,076790818X,9.78077E+12,eng,544,248558,9396,9/14/2004,Broadway Books,NaN,None,History,One of the world’s most beloved writers and Ne...
3,25,I'm a Stranger Here Myself: Notes on Returning...,Bill Bryson,3.9,076790382X,9.78077E+12,eng,304,49240,2211,6/28/2000,Broadway Books,NaN,None,Biography & Autobiography,A classic from the New York Times bestselling ...
4,45,Agile Web Development with Rails: A Pragmatic ...,Dave Thomas/David Heinemeier Hansson/Leon Bree...,3.84,097669400X,9.78098E+12,eng,558,1430,59,7/28/2005,Pragmatic Bookshelf,NaN,None,Agile software development,Provides information on creating Web-based app...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,45354,The Legacy of Sovereign Joy: God's Triumphant ...,John Piper,4.27,1581348134,9.78158E+12,eng,158,839,65,8/11/2006,Crossway Books,NaN,None,Religion,"The lives of Augustine, Luther, and Calvin rev..."
642,45568,El Superzorro,Roald Dahl/Horacio Elena,4.05,9681907191,9.78968E+12,spa,96,174,20,6/1/2000,Alfaguara Infantil,NaN,None,Farmers,"Había una vez un valle, y en el valle, tres gr..."
643,45585,Bella y oscura,Rosa Montero,3.66,843221728X,9.78843E+12,spa,204,293,31,3/1/2006,Planeta Publishing,NaN,None,Children,"La historia de la infancia, vivida y soñada, d..."
644,45592,La tía Julia y el escribidor,Mario Vargas Llosa,3.92,8466302298,9.78847E+12,spa,566,162,10,3/1/2001,Suma,NaN,None,Fiction,La relacion amorosa del joven escritor Varguit...
645,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.78156E+12,eng,512,156,20,12/21/2004,Da Capo Press,NaN,None,Fiction,"No stranger to living and writing on the edge,..."

## testing other api

In [90]:
isbn = "" # Example ISBN

# Send a request to the Open Library API to retrieve the book information
response = requests.get(f"https://openlibrary.org/isbn/{isbn}.json")

# Check if the request was successful
if response.status_code == 200:
    # Parse the response JSON to extract the book information
    book_data = response.json()
    
    # Extract the book description and categories
    description = book_data.get("description", {}).get("value")
    categories = book_data.get("subjects")
    
    # Print the book description and categories
    print("Description:", description)
    print("Categories:", categories)
else:
    # Print an error message if the request failed
    print("Error:", response.json()["error"])

JSONDecodeError: Expecting value: line 3 column 1 (char 2)